.menu{
    display: flex;
    background-color: #E6E6E6;
    width: 634px;
    height: 797px;
    border-radius: 15px;
    background-position: center;
    margin: auto;
    margin-top: 100px;

}
.above_in_menu{
    width: 359px;
    height: 66px;
    background-color: white;
    

    

}
.in_menu{
    display: flex;
    width: 514px;
    height: 621px;
    border-radius: 14px;
    background-color: white;
    margin: auto;
    align-items: center;
    margin-top: 150px;
    
    
    

}

